/* Latest Update 06/07/2024 */

/** GENERAL **/
/** GENERAL **/
/** GENERAL **/

/* Some changes have to be made in "SideMenuLayout.razor" file at 
	"D:\Projects\TP\lepton-x\src\TopTis.TouristPanel.AspNetCore.Components.Web.LeptonXTheme\Components\ApplicationLayout\SideMenuLayout.razor 
and add same class as their id to divs at line 22 23 28 48 */

/* Some changes have to be made in "TPPageHeaderComponent.razor" at
	"D:\Projects\TP\lepton-x\demo\LeptonXDemoApp.Blazor.Server\Components\TPPageHeader\TPPageHeaderComponent.razor"
*/

/* Add ID "tp-sidemenu" and add class "main-content-sidebar pr-0" to inner sidebar "col-4" */
/* Remove "w-100 h-100 bg-navbar rounded-4 p-2" from the child div of sidebar "col-4" and add class "tp-sidemenu-container" to it */
/* Add class "tp-sidemenu-header" to the child div of div "tp-sidemenu-container" */

.main-content-container {
	background-color: var(--tp-light-card-color) !important;
	border: 0.5px solid var(--tp-light-border-color) !important;
	border-radius: 16px;
}

.inner-content-height {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	padding-top: 1.5rem;
}

/* This class has to be added in "SideMenuLayout.razor" file at line 22 */
.custom-sidemenu-layout-container {
	width: 100%;
	display: flex;
}

.lpx-scroll-container.ps {
	height: 100%;
	min-height: auto;
}

#lpx-wrapper {
	background-image: none !important;
}

@media only screen and (min-width: 768px) {
	#lpx-wrapper #custom-sidemenu-content-container {
		width: 90% !important;
		margin-right: 1% !important;
		margin-left: 1% !important;
	}

	#lpx-wrapper.hover-trigger #custom-sidemenu-content-container,
	#lpx-wrapper
		#custom-sidebar-container-column:hover
		+ #custom-sidemenu-content-container {
		width: 82% !important;
		margin-right: 1% !important;
		margin-left: 1% !important;
	}
}

@media only screen and (min-width: 1400px) {
	#lpx-wrapper #custom-sidebar-container-column {
		width: 4% !important;
	}

	#lpx-wrapper.hover-trigger #custom-sidebar-container-column,
	#lpx-wrapper #custom-sidebar-container-column:hover {
		width: 12% !important;
	}

	#lpx-wrapper #custom-toolbar-container-column {
		width: 4% !important;
	}
}

/* Remove "w-100 h-100 bg-navbar rounded-4 p-2" from the child div of sidebar "col-4" and add class "tp-sidemenu-container" to it */
.tp-sidemenu > div {
	background-color: var(--tp-white-color);
	border-radius: 16px;
	width: 100%;
	height: 100%;
	padding: 16px;
}

.modal .modal-dialog .modal-body h1.display-2 i {
	color: var(--tp-primary-color) !important;
}

.tp-page-header {
	box-shadow: 0px 0px 20px 0px rgba(153, 161, 183, 0.08) !important;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(153, 161, 183, 0.08) !important;
	-moz-box-shadow: 0px 0px 20px 0px rgba(153, 161, 183, 0.08) !important;
	border-bottom: 0.5px solid var(--tp-light-border-color);
	border-top-right-radius: 16px !important;
	border-top-left-radius: 16px !important;
}

.tp-page-header .k-svg-icon.k-icon-lg {
	width: 40px;
	height: 40px;
}

.breadcrumb-item + .breadcrumb-item::before {
	float: right !important;
	padding-left: 0.5rem;
}

.mud-input-control
	> .mud-input-control-input-container
	> div.mud-input.mud-input-text {
	margin-top: 0;
}

/** CHIP **/
/** CHIP **/
/** CHIP **/
.k-chip {
	width: 96px;
	height: 28px;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-width: 0;
}

.k-chip-content {
	flex: initial;
	font-weight: 500;
}

.k-chip:hover .k-chip-content {
	color: initial;
}

.k-chip.k-chip-solid-base {
	color: var(--tp-primary-color);
	background-color: rgb(31 45 64 / 5%);
}

.k-chip.k-chip-solid-success {
	color: var(--tp-success-color);
	background-color: rgb(52 199 89 / 5%);
}

.k-chip.k-chip-solid-success .k-chip-content {
	color: var(--tp-success-color);
}

.k-chip.k-chip-solid-error {
	color: var(--tp-danger-color);
	background-color: rgb(255 69 58 / 5%);
}

.k-chip.k-chip-solid-error .k-chip-content {
	color: var(--tp-danger-color);
}

.k-chip.k-chip-solid-warning {
	color: var(--tp-warning-color);
	background-color: rgb(255 213 79 / 5%);
}

.k-chip.k-chip-solid-warning .k-chip-content {
	color: var(--tp-warning-color);
}

.k-chip.k-chip-solid-info {
	color: var(--tp-info-color);
	background-color: rgb(0 86 179 / 5%);
}

.k-chip.k-chip-solid-info .k-chip-content {
	color: var(--tp-info-color);
}

/** SWITCH **/
/** SWITCH **/
/** SWITCH **/
.k-switch-md {
	width: 32px;
	height: 16px;
	border-radius: 32px;
}

.k-switch-md .k-switch-track {
	width: 32px;
	height: 16px;
}

.k-switch.k-switch-on .k-switch-thumb-wrap .k-switch-thumb {
	width: 10px;
	height: 10px;
}

.k-switch.k-switch-off .k-switch-thumb-wrap .k-switch-thumb {
	width: 10px;
	height: 10px;
}

.k-switch-md[dir="rtl"].k-switch-off .k-switch-thumb-wrap,
[dir="rtl"] .k-switch-md.k-switch-off .k-switch-thumb-wrap,
.k-rtl .k-switch-md.k-switch-off .k-switch-thumb-wrap {
	left: calc(100% - 20px - 3px);
}

.k-switch-md[dir="rtl"].k-switch-on .k-switch-thumb-wrap,
[dir="rtl"] .k-switch-md.k-switch-on .k-switch-thumb-wrap,
.k-rtl .k-switch-md.k-switch-on .k-switch-thumb-wrap {
	left: calc(20px + 3px);
}

/** TAB STRIP **/
/** TAB STRIP **/
/** TAB STRIP **/
.k-tabstrip-items .k-item {
	border: 0;
	border-bottom: 3px solid transparent;
}

.k-tabstrip-items-wrapper .k-item:focus,
.k-tabstrip-items-wrapper .k-item.k-focus {
	box-shadow: none;
}

.k-tabstrip-items-wrapper .k-item:active,
.k-tabstrip-items-wrapper .k-item.k-active,
.k-tabstrip-items-wrapper .k-item.k-selected {
	background-color: transparent;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item:active,
.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
	border-bottom-width: 3px;
	border-bottom-color: var(--tp-primary-color) !important;
}

.k-tabstrip-items .k-link {
	color: var(--tp-dark-disabled-color);
}

.k-tabstrip-items .k-active .k-link {
	color: var(--tp-primary-color);
}

.k-tabstrip-content,
.k-tabstrip > .k-content {
	border-radius: 16px;
	border-top-width: 1px !important;
	margin-top: 24px !important;
}

/** STEPPER **/
/** STEPPER **/
/** STEPPER **/
.k-stepper .k-step-link {
	overflow: visible;
}

.k-stepper .k-step-indicator {
	width: 36px;
	height: 36px;
	border-width: 3px;
	border-color: var(--tp-primary-color);
	color: var(--tp-primary-color);
}

.k-stepper .k-step-current .k-step-indicator {
	background-color: var(--tp-secondary-color);
	color: var(--tp-primary-color);
}

.k-stepper .k-step-current .k-step-indicator::before {
	color: var(--tp-primary-color);
}

.k-stepper .k-step-current:hover .k-step-indicator,
.k-stepper .k-step-current.k-hover .k-step-indicator,
.k-stepper .k-step-current.k-step-hover .k-step-indicator {
	background-color: var(--tp-secondary-color);
}

.k-stepper .k-step-label .k-step-text {
	font-size: 14px;
	color: var(--tp-dark-disabled-color);
}

.k-stepper .k-step-current .k-step-label .k-step-text {
	color: var(--tp-primary-color);
}

.k-stepper .k-step-indicator .k-step-indicator-text {
	font-weight: 600;
}

.k-stepper .k-step-list .k-step.k-step-done .k-step-link .k-step-indicator {
	background-color: var(--tp-secondary-color);
	color: var(--tp-primary-color);
}

.k-stepper .k-step-list-horizontal .k-step-indicator::after {
	display: block;
	position: absolute;
	content: "";
	right: -14px;
	left: 0px;
	top: -3px;
	bottom: 0px;
	width: 57px;
	height: 36px;
	background-image: url("../../assets/images/ind-left-right.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	box-shadow: none;
}

.k-stepper .k-step-list-horizontal .k-step-first .k-step-indicator::after {
	background-image: url("../../assets/images/ind-left.png");
	width: 36px;
	right: 4px;
}

.k-stepper .k-step-list-horizontal .k-step-last .k-step-indicator::after {
	background-image: url("../../assets/images/ind-right.png");
	width: 36px;
	right: -11px;
}

.k-stepper .k-step-list-horizontal .k-step-indicator::before {
	content: "---";
	width: auto;
	height: auto;
	position: absolute;
	bottom: -55px;
	left: -75%;
	transform: rotate(90deg);
	color: var(--tp-dark-disabled-color);
}

.k-step-list-horizontal .k-step-indicator + .k-step-label {
	margin-top: 15px;
}

.k-step-list-horizontal ~ .k-progressbar {
	height: 10px;
	top: calc((27px + 2 * 2px) / 2 + 2px / 2);
	background-color: var(--tp-primary-color);
}

.k-stepper
	.k-progressbar.k-progressbar-horizontal
	.k-progressbar-value.k-selected {
	background-color: var(--tp-primary-color);
}

.k-step-list-vertical .k-step {
	min-height: calc(41px + 2 * 1px + 2 * 2px + 20px);
}

.k-stepper .k-step-list-vertical .k-step-indicator::after {
	display: block;
	position: absolute;
	content: "";
	right: -3px;
	left: 0px;
	top: -14px;
	bottom: 0px;
	width: 36px;
	height: 57px;
	background-image: url("../../assets/images/ind-top-bottom.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
	box-shadow: none;
}

.k-stepper .k-step-list-vertical .k-step-first .k-step-indicator::after {
	background-image: url("../../assets/images/ind-bottom.png");
	top: 4px;
	height: 36px;
}

.k-stepper .k-step-list-vertical .k-step-last .k-step-indicator::after {
	background-image: url("../../assets/images/ind-top.png");
	top: -11px;
	height: 36px;
}

.k-stepper .k-step-list-vertical .k-step-indicator::before {
	content: "---";
	width: 15px;
	height: 15px;
	position: absolute;
	top: 10%;
	left: -22px;
	color: var(--tp-dark-disabled-color);
}

.k-step-list-vertical ~ .k-progressbar {
	width: 10px;
	background-color: var(--tp-primary-color);
	left: calc((27px + 2 * 1px + 2 * 2px) / 2);
}

.k-rtl .k-stepper .k-step-list-vertical ~ .k-progressbar,
.k-stepper[dir="rtl"] .k-step-list-vertical ~ .k-progressbar {
	left: auto;
	right: calc((27px + 2 * 1px + 2 * 2px) / 2);
}

.k-stepper
	.k-progressbar.k-progressbar-vertical
	.k-progressbar-value.k-selected {
	background-color: var(--tp-primary-color);
}

.k-stepper .k-step-list-vertical .k-step-label .k-step-text {
	width: max-content;
	max-width: max-content;
}

.k-rtl .k-stepper .k-step-list-vertical .k-step-indicator + .k-step-label,
.k-stepper[dir="rtl"] .k-step-list-vertical .k-step-indicator + .k-step-label {
	margin-right: 20px;
}

/** BUTTON **/
/** BUTTON **/
/** BUTTON **/
.k-button {
	padding: 8px 16px 8px 16px;
	border-radius: 8px;
}

.k-button.k-selected {
	background-color: var(--tp-primary-color);
	color: var(--tp-secondary-color);
}

.k-button.k-selected .k-button-text {
	color: var(--tp-secondary-color);
}

.k-wizard .k-wizard-buttons-right .k-button:last-of-type {
	margin-right: 10px;
}

.k-button.k-menu-button {
	background-color: #f9f9f9;
	min-width: 200px;
	width: auto;
	justify-content: flex-start;
}

.k-menu-button .k-menu-button-arrow {
	margin-right: auto;
}

.k-menu-popup .k-group.k-menu-group .k-item.k-menu-item .k-icon {
	margin-left: 5px;
}

/** TIME PICKER **/
/** TIME PICKER **/
/** TIME PICKER **/
.k-timepicker .k-input-button {
	background-color: transparent;
}

.k-timepicker .k-button-icon.k-svg-icon,
.k-timepicker .k-button-icon.k-svg-icon > svg {
	width: 22px;
	height: 22px;
}

.k-time-list-container {
	flex-direction: row-reverse;
}

/** NUMERIC FIELD **/
/** NUMERIC FIELD **/
/** NUMERIC FIELD **/
.k-numerictextbox.tp-numeric {
	width: 167px;
	height: 40px;
	position: relative;
}

.k-numerictextbox.tp-numeric input.k-input-inner {
	width: 100%;
	margin-right: 40px;
	margin-left: 40px;
	text-align: center;
}

.k-numerictextbox.tp-numeric .k-input-spinner {
	width: auto;
	height: 40px;
	position: absolute;
	right: 8px;
	left: 8px;
	align-items: center;
}

.k-numerictextbox.tp-numeric .k-input-spinner button {
	width: 32px;
	height: 32px;
	max-width: 32px;
	background-color: var(--tp-primary-color);
	padding: 8px;
}

.k-numerictextbox.tp-numeric .k-input-spinner button svg {
	width: 16px;
	height: 16px;
	color: var(--tp-white-color);
}

/** BUTTON GROUP **/
/** BUTTON GROUP **/
/** BUTTON GROUP **/
.button-group-custom.k-button-group {
	width: auto;
	padding: 8px;
	background-color: #f9f9f9;
	border-radius: 8px;
	gap: 0;
}

.button-group-custom.k-button-group .k-button {
	border-radius: 8px;
	padding: 4px;
	background-color: #f9f9f9;
}

.button-group-custom.k-button-group .k-button.k-selected {
	background-color: #0f172a;
	color: var(--tp-secondary-color);
}

/** RADIO BUTTON **/
/** RADIO BUTTON **/
/** RADIO BUTTON **/
.k-radio {
	border-color: var(--tp-primary-color);
}

/** TREE LIST **/
/** TREE LIST **/
/** TREE LIST **/
.k-grid-toolbar {
	background-color: var(--tp-white-color);
	padding: 0 0 20px;
}

.k-datepicker .k-button.k-button-solid-base {
	background-color: transparent;
}

/** MUD DATE PICKER **/
/** MUD DATE PICKER **/
/** MUD DATE PICKER **/
.mud-primary {
	background-color: var(--tp-primary-color) !important;
}

.mud-input {
	background-color: #f9f9f9;
	color: var(--tp-primary-color);
	height: 36px;
	box-shadow: inset 1px 0px 24px 0px rgba(144, 147, 152, 0.05);
	font-size: 16px;
	line-height: 1.5;
	padding-block: 4px;
	padding-inline: 8px;
	border-radius: 0.375rem;
}

.mud-input.mud-input-underline:before,
.mud-input.mud-input-underline:hover:not(.mud-disabled):before,
.mud-input.mud-input-underline:after {
	border-bottom: none;
}

.mud-paper {
	border-radius: 16px;
}

.mud-picker-container .mud-toolbar {
	padding: 16px 24px 14px 24px;
}

.mud-theme-primary,
.mud-range-selection-primary:hover {
	background-color: var(--tp-primary-color) !important;
}

.mud-primary-text {
	color: var(--tp-primary-color) !important;
}

.mud-button-root,
.mud-button-month p,
.mud-typography {
	font-family: IRANSans;
}

.mud-button-year span {
	font-size: 20px;
}

.mud-button-date span {
	font-size: 24px;
}

.mud-picker-nav-button-prev .mud-svg-icon,
.mud-picker-nav-button-next .mud-svg-icon {
	transform: rotate(180deg);
}

.mud-picker-calendar-header-day .mud-day-label {
	font-size: 10px;
}

.mud-button-outlined.mud-button-outlined-primary {
	color: var(--tp-primary-color);
	border: 1px solid var(--tp-primary-color);
}

.mud-picker-calendar .mud-day.mud-range.mud-range-between {
	background-color: #f1f1f4;
}

.mud-picker-calendar .mud-day.mud-range.mud-range-start-selected {
	border-radius: 0% 50% 50% 0%;
}

.mud-picker-calendar .mud-day.mud-range.mud-range-end-selected,
.mud-picker-calendar
	.mud-day.mud-range.mud-range-selection:hover:not(
		.mud-range-start-selected
	) {
	border-radius: 50% 0% 0% 50%;
}

/** VERTICAL MENU **/
/** VERTICAL MENU **/
/** VERTICAL MENU **/
.k-menu-vertical.k-menu:not(.k-context-menu) {
	background-color: var(--tp-white-color);
	border-radius: 16px;
	padding-block: 16px !important;
	padding-inline: 8px !important;
}

.k-menu-vertical.k-menu:not(.k-context-menu) > .k-item {
	color: var(--tp-dark-disabled-color);
}

.k-menu-vertical.k-menu:not(.k-context-menu) .k-svg-icon {
	width: 24px;
	height: 24px;
}

.k-menu-vertical > .k-menu-item > .k-menu-link {
	padding-block: 8px;
	padding-inline: 0;
}

.k-menu-link-text {
	font-size: 14px;
	line-height: 40px;
}

/** MAIN SIDEMENU **/
/** MAIN SIDEMENU **/
/** MAIN SIDEMENU **/
.lpx-sidebar-container .lpx-sidebar .lpx-nav .lpx-nav-menu {
	padding: 0 10px !important;
}

.lpx-nav-menu .lpx-menu-item-link .lpx-menu-item-icon .lpx-icon {
	display: inline-flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: 24px !important;
	height: 24px !important;
	margin-right: 12px;
}

.lpx-nav-menu .lpx-inner-menu .lpx-inner-menu {
	width: 100% !important;
}

.lpx-nav-menu .lpx-inner-menu-item .lpx-menu-item-icon {
	margin-inline: 0;
}

.lpx-nav-menu
	.lpx-inner-menu-item
	.lpx-menu-item-icon
	.lpx-icon.fas.fa-solid.fa-circle {
	font-size: 6px !important;
	margin-right: 4px;
}

.lpx-nav-menu .lpx-menu-item-link .lpx-menu-item-text {
	font-size: 14px !important;
	margin-right: 15px !important;
}

.lpx-inner-menu .lpx-menu-item-link .lpx-menu-item-text {
	margin-right: 0 !important;
}

.lpx-nav-menu .lpx-menu-item-link.selected .custom-menu-link-item-rectangle,
.lpx-nav-menu .lpx-menu-item-link:hover .custom-menu-link-item-rectangle {
	padding-inline: 0.2rem !important;
}

.lpx-nav-menu .lpx-menu-item-link .dd-icon {
	left: 0 !important;
}

.lpx-nav-menu .lpx-inner-menu-item {
	margin-right: 24px !important;
}

.lpx-nav-menu .lpx-inner-menu-item .lpx-menu-item-link {
	height: 36px !important;
	width: 100% !important;
}

.lpx-nav-menu .lpx-menu-item-link:hover {
	color: var(--lpx-navbar-active-text-color);
	background-color: var(--lpx-navbar-active-bg-color);
	font-weight: bold;
}

/** TOAST NOTIFICATIONS **/
/** TOAST NOTIFICATIONS **/
/** TOAST NOTIFICATIONS **/
.snackbar {
	background-color: var(--tp-white-color);
	padding: 8px;
	border-radius: 4px;
	box-shadow: 0px 0px 20px 0px rgba(153, 161, 183, 0.08) !important;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(153, 161, 183, 0.08) !important;
	-moz-box-shadow: 0px 0px 20px 0px rgba(153, 161, 183, 0.08) !important;
}

.snackbar::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-size: 30px;
	vertical-align: middle;
	position: absolute;
	top: 25%;
	margin-right: 5px;
}

.snackbar.snackbar-warning::before {
	content: "\f071";
	color: var(--tp-warning-color);
}

.snackbar.snackbar-info::before {
	content: "\f05a";
	color: var(--tp-primary-color);
}

.snackbar.snackbar-success::before {
	content: "\f058";
	color: var(--tp-success-color);
}

.snackbar.snackbar-danger::before {
	content: "\f057";
	color: var(--tp-danger-color);
}

.snackbar.snackbar-info {
	border-right: 10px solid var(--tp-primary-color);
}

.snackbar.snackbar-success {
	border-right: 10px solid var(--tp-success-color);
}

.snackbar.snackbar-warning {
	border-right: 10px solid var(--tp-warning-color);
}

.snackbar.snackbar-danger {
	border-right: 10px solid var(--tp-danger-color);
}

.snackbar-header {
	font-size: 15px;
	color: var(--tp-primary-color);
	margin-right: 50px;
	padding-bottom: 5px;
}

.snackbar-body {
	font-size: 14px;
	color: var(--tp-primary-color);
	margin-right: 50px;
}

.snackbar-action-button {
	margin-left: 0;
	margin-right: 3rem;
}

.snackbar-action-button i {
	font-size: 18px;
	color: var(--tp-primary-color);
}

/** DARK THEME **/
/** DARK THEME **/
/** DARK THEME **/
.lpx-theme-dark .main-content-container {
	background-color: var(--tp-dark-card-color) !important;
	border: 0.5px solid var(--tp-dark-border-color) !important;
}

.lpx-theme-dark .tp-page-header {
	box-shadow: 0px 0px 20px 0px rgba(153, 161, 183, 0.08) !important;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(153, 161, 183, 0.08) !important;
	-moz-box-shadow: 0px 0px 20px 0px rgba(153, 161, 183, 0.08) !important;
	border-bottom: 0.5px solid var(--tp-dark-border-color) !important;
}

.lpx-theme-dark
	.lpx-nav-menu
	.lpx-inner-menu-item
	.lpx-menu-item-link.selected
	.lpx-menu-item-icon,
.lpx-theme-dark
	.lpx-nav-menu
	.lpx-inner-menu-item
	.lpx-menu-item-link:hover
	.lpx-menu-item-icon,
.lpx-theme-dark .lpx-nav-menu .lpx-menu-item-link:hover .lpx-menu-item-icon {
	color: var(--tp-secondary-color);
}

.lpx-theme-dark .k-input.k-input-solid {
	background-color: var(--tp-dark-body-color);
	box-shadow: 1px 0px 24px 0px rgba(144, 147, 152, 0.05) inset;
	-webkit-box-shadow: 1px 0px 24px 0px rgba(144, 147, 152, 0.05) inset;
	-moz-box-shadow: 1px 0px 24px 0px rgba(144, 147, 152, 0.05) inset;
}

.lpx-theme-dark .k-input.k-input-solid {
	color: var(--tp-dark-disabled-color);
}

.lpx-theme-dark .k-input input::placeholder,
.lpx-theme-dark .k-input textarea::placeholder {
	color: var(--tp-dark-disabled-color);
}

.lpx-theme-dark .k-button.k-button-solid-base {
	background-color: var(--tp-dark-btn-color);
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-timepicker .k-button.k-button-solid-base,
.lpx-theme-dark .k-datepicker .k-button.k-button-solid-base {
	background-color: transparent;
}

.lpx-theme-dark .k-timepicker .k-button-icon.k-svg-icon,
.lpx-theme-dark .k-timepicker .k-button-icon.k-svg-icon > svg,
.lpx-theme-dark .k-datepicker .k-button-icon.k-svg-icon,
.lpx-theme-dark .k-datepicker .k-button-icon.k-svg-icon > svg {
	color: var(--tp-dark-disabled-color);
}

.lpx-theme-dark .k-button.k-button-solid-primary {
	background-color: var(--tp-secondary-color);
	color: var(--tp-primary-color);
}

.lpx-theme-dark .k-button.k-selected {
	background-color: var(--tp-secondary-color);
	color: var(--tp-primary-color);
}

.lpx-theme-dark .k-button.k-button-solid-base.k-menu-button {
	background-color: var(--tp-dark-body-color);
	color: var(--tp-dark-disabled-color);
}

.lpx-theme-dark .k-button .k-button-text {
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-button.k-button-solid-primary .k-button-text {
	color: var(--tp-primary-color);
}

.lpx-theme-dark .k-button.k-menu-button .k-button-text {
	color: var(--tp-dark-disabled-color);
}

.lpx-theme-dark .k-button.k-selected .k-button-text {
	color: var(--tp-primary-color);
}

.lpx-theme-dark .k-popup.k-menu-popup {
	background-color: var(--tp-dark-popup-bg-color);
	box-shadow: 0px 0px 0px 2px rgba(31, 45, 64, 0.3);
	-webkit-box-shadow: 0px 0px 0px 2px rgba(31, 45, 64, 0.3);
	-moz-box-shadow: 0px 0px 0px 2px rgba(31, 45, 64, 0.3);
}

.lpx-theme-dark .k-popup.k-menu-popup .k-group.k-menu-group {
	background-color: var(--tp-dark-popup-bg-color);
}

.lpx-theme-dark .k-menu-popup .k-group.k-menu-group .k-item.k-menu-item {
	background-color: var(--tp-dark-popup-bg-color);
	color: #cfcfcf;
}

.lpx-theme-dark
	.k-menu-popup
	.k-group.k-menu-group
	.k-item.k-menu-item
	.k-link {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 8px;
}

.lpx-theme-dark
	.k-menu-popup
	.k-group.k-menu-group
	.k-item.k-menu-item
	.k-link.k-menu-link.k-hover,
.lpx-theme-dark
	.k-menu-popup
	.k-group.k-menu-group
	.k-item.k-menu-item
	.k-link.k-menu-link.k-state-hover,
.lpx-theme-dark
	.k-menu-popup
	.k-group.k-menu-group
	.k-item.k-menu-item
	.k-link.k-menu-link.k-state-hovered,
.lpx-theme-dark
	.k-menu-popup
	.k-group.k-menu-group
	.k-item.k-menu-item
	.k-link.k-menu-link:hover {
	background-color: var(--tp-dark-body-color);
	color: var(--tp-secondary-color);
}

.lpx-theme-dark .k-checkbox {
	background-color: #4c6688;
}

.lpx-theme-dark .k-checkbox-wrap .k-checkbox {
	border-bottom-color: #334761;
	border-left-color: #334761;
	border-right-color: #334761;
	border-top-color: #334761;
}

.lpx-theme-dark .k-radio {
	border-color: #334761;
	background-color: #334761;
}

.lpx-theme-dark .k-checkbox:checked:focus,
.lpx-theme-dark .k-checkbox.k-checked.k-focus {
	border-color: var(--tp-secondary-color);
}

.lpx-theme-dark .k-checkbox:checked,
.lpx-theme-dark .k-checkbox.k-checked {
	color: var(--tp-primary-color);
	background-color: var(--tp-secondary-color);
	background-image: url("../../assets/images/dark-check.svg");
	background-size: 75%;
	background-position: center center;
}

.lpx-theme-dark .k-radio:checked,
.lpx-theme-dark .k-radio.k-checked {
	border-color: var(--tp-secondary-color);
	background-color: var(--tp-secondary-color);
	background-image: url("../../assets/images/dark-circle.svg");
	background-size: 74% 83%;
	background-position: center center;
}

.lpx-theme-dark .snackbar {
	background-color: var(--tp-primary-color) !important;
	color: var(--tp-white-color) !important;
}

.lpx-theme-dark .snackbar.snackbar-info {
	border-right: 10px solid #334761;
}

.lpx-theme-dark .snackbar.snackbar-info::before {
	color: #334761;
}

.lpx-theme-dark .snackbar-header {
	color: var(--tp-white-color);
}

.lpx-theme-dark .snackbar-body {
	color: var(--tp-white-color);
}

.lpx-theme-dark .snackbar-action-button i {
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-switch-on .k-switch-track {
	border-color: var(--tp-secondary-color);
	background-color: var(--tp-secondary-color);
}

.lpx-theme-dark .k-switch.k-switch-off .k-switch-track {
	background-color: #334761;
}

.lpx-theme-dark .k-switch.k-switch-off.k-focus .k-switch-track,
.lpx-theme-dark .k-switch.k-switch-off.k-state-focus .k-switch-track,
.lpx-theme-dark .k-switch.k-switch-off.k-state-focused .k-switch-track,
.lpx-theme-dark .k-switch.k-switch-off:focus .k-switch-track,
.lpx-theme-dark .k-switch-off .k-switch-track {
	border: 1px solid #cfcfcf;
}

.lpx-theme-dark .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item:active,
.lpx-theme-dark .k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
	border-bottom-color: var(--tp-white-color) !important;
}

.lpx-theme-dark .k-tabstrip-items .k-active .k-link {
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-tabstrip-content,
.k-tabstrip > .k-content {
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-stepper .k-step-current .k-step-label .k-step-text {
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-step-list-horizontal ~ .k-progressbar,
.lpx-theme-dark .k-step-list-vertical ~ .k-progressbar {
	background-color: var(--tp-secondary-color);
}

.lpx-theme-dark
	.k-stepper
	.k-progressbar.k-progressbar-horizontal
	.k-progressbar-value.k-selected,
.lpx-theme-dark
	.k-stepper
	.k-progressbar.k-progressbar-vertical
	.k-progressbar-value.k-selected {
	background-color: var(--tp-secondary-color);
}

.lpx-theme-dark .k-stepper .k-step-list-horizontal .k-step-indicator::after {
	background-image: url("../../assets/images/dark-ind-left-right.png");
}

.lpx-theme-dark
	.k-stepper
	.k-step-list-horizontal
	.k-step-first
	.k-step-indicator::after {
	background-image: url("../../assets/images/dark-ind-left.png");
}

.lpx-theme-dark
	.k-stepper
	.k-step-list-horizontal
	.k-step-last
	.k-step-indicator::after {
	background-image: url("../../assets/images/dark-ind-right.png");
}

.lpx-theme-dark .k-stepper .k-step-list-vertical .k-step-indicator::after {
	background-image: url("../../assets/images/dark-ind-top-bottom.png");
}

.lpx-theme-dark
	.k-stepper
	.k-step-list-vertical
	.k-step-first
	.k-step-indicator::after {
	background-image: url("../../assets/images/dark-ind-bottom.png");
}

.lpx-theme-dark
	.k-stepper
	.k-step-list-vertical
	.k-step-last
	.k-step-indicator::after {
	background-image: url("../../assets/images/dark-ind-top.png");
}

.lpx-theme-dark .k-stepper .k-step-indicator,
.lpx-theme-dark .k-stepper .k-stepper .k-step-current .k-step-indicator,
.lpx-theme-dark .k-stepper .k-step-done .k-step-indicator {
	border-color: var(--tp-secondary-color);
}

.lpx-theme-dark
	.k-stepper
	.k-step-list
	.k-step.k-step-done
	.k-step-link
	.k-step-indicator {
	background-color: var(--tp-primary-color);
	color: var(--tp-secondary-color);
	border-color: var(--tp-secondary-color);
}

.lpx-theme-dark .k-stepper .k-step-current .k-step-indicator {
	background-color: var(--tp-primary-color);
	color: var(--tp-secondary-color);
}

.lpx-theme-dark .k-multiselect .k-chip.k-chip-solid-base {
	color: var(--tp-dark-disabled-color);
	background-color: rgb(144 147 152 / 5%);
}

.lpx-theme-dark .k-multiselect .k-chip .k-chip-content {
	color: var(--tp-dark-disabled-color);
}

.lpx-theme-dark .k-multiselect .k-input-inner::placeholder {
	color: var(--tp-dark-disabled-color);
}

.lpx-theme-dark .k-popup.k-multiselect-popup {
	background-color: var(--tp-dark-popup-bg-color);
	box-shadow: 0px 0px 0px 2px rgba(31, 45, 64, 0.3);
}

.lpx-theme-dark .k-popup.k-multiselect-popup .k-list,
.lpx-theme-dark .k-popup.k-list-container .k-list.k-list-md .k-list-content {
	background-color: var(--tp-dark-popup-bg-color);
}

.lpx-theme-dark .k-list.k-list-md .k-list-content .k-list-ul .k-list-item,
.lpx-theme-dark
	.k-list.k-list-md
	.k-list-content
	.k-list-ul
	.k-list-optionlabel {
	background-color: var(--tp-dark-popup-bg-color);
	color: #cfcfcf;
}

.lpx-theme-dark
	.k-list.k-list-md
	.k-list-content
	.k-list-ul
	.k-list-item:hover {
	background-color: var(--tp-dark-body-color);
	color: var(--tp-secondary-color);
}

.lpx-theme-dark .button-group-custom.k-button-group {
	background-color: var(--tp-dark-card-color);
}

.lpx-theme-dark .k-input-spinner.k-spin-button .k-button.k-button-solid-base {
	color: transparent;
	background-color: var(--tp-primary-color);
}

.lpx-theme-dark
	.k-input-spinner.k-spin-button
	.k-button.k-button-solid-base
	.k-icon {
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-grid {
	background-color: var(--tp-dark-card-color);
	border: 0.5px solid var(--tp-dark-border-color);
	border-radius: 16px;
}

.lpx-theme-dark .k-grid-toolbar {
	background-color: var(--tp-dark-card-color);
	border-radius: 16px 16px 0 0;
	padding: 15px;
	border: none;
}

.lpx-theme-dark .k-grid .k-grid-header,
.lpx-theme-dark .k-grid .k-grid-header .k-table-thead {
	background-color: var(--tp-dark-body-color);
}

.lpx-theme-dark
	.k-grid.k-grid-md
	.k-table-thead
	.k-table-row
	.k-header.k-table-th,
.lpx-theme-dark
	.k-grid.k-grid-md
	.k-grid-header
	.k-table-row
	.k-header.k-table-th {
	background-color: var(--tp-dark-body-color);
	color: var(--tp-white-color);
}

.lpx-theme-dark
	.k-grid.k-grid-md
	.k-table-tbody
	.k-master-row.k-table-row
	> td {
	background-color: var(--tp-primary-color);
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-pager {
	background-color: var(--tp-dark-card-color);
}

.lpx-theme-dark .k-panelbar {
	background-color: var(--tp-dark-body-color);
}

.lpx-theme-dark .k-panelbar > .k-item > .k-link,
.lpx-theme-dark .k-panelbar > .k-panelbar-header > .k-link {
	background-color: var(--tp-dark-body-color);
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-panelbar > .k-item > .k-link .k-icon,
.lpx-theme-dark .k-panelbar > .k-item > .k-link .k-panelbar-item-icon,
.lpx-theme-dark .k-panelbar > .k-panelbar-header > .k-link .k-icon,
.lpx-theme-dark
	.k-panelbar
	> .k-panelbar-header
	> .k-link
	.k-panelbar-item-icon {
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-panelbar > .k-item > .k-link.k-selected:hover,
.lpx-theme-dark .k-panelbar > .k-item > .k-link.k-selected.k-hover,
.lpx-theme-dark .k-panelbar > .k-panelbar-header > .k-link.k-selected:hover,
.lpx-theme-dark .k-panelbar > .k-panelbar-header > .k-link.k-selected.k-hover {
	background-color: var(--tp-dark-popup-bg-color);
}

.lpx-theme-dark .k-panelbar .k-group,
.lpx-theme-dark .k-panelbar .k-panelbar-group {
	background-color: var(--tp-dark-popup-bg-color);
}

.lpx-theme-dark .k-panelbar .k-group > .k-item,
.lpx-theme-dark .k-panelbar .k-panelbar-group > .k-panelbar-item {
	color: var(--tp-white-color);
}

.lpx-theme-dark .k-panelbar .k-group > .k-item > .k-link:hover,
.lpx-theme-dark .k-panelbar .k-group > .k-item > .k-link.k-hover,
.lpx-theme-dark .k-panelbar .k-group > .k-panelbar-item > .k-link:hover,
.lpx-theme-dark .k-panelbar .k-group > .k-panelbar-item > .k-link.k-hover,
.lpx-theme-dark .k-panelbar .k-panelbar-group > .k-item > .k-link:hover,
.lpx-theme-dark .k-panelbar .k-panelbar-group > .k-item > .k-link.k-hover,
.lpx-theme-dark
	.k-panelbar
	.k-panelbar-group
	> .k-panelbar-item
	> .k-link:hover,
.lpx-theme-dark
	.k-panelbar
	.k-panelbar-group
	> .k-panelbar-item
	> .k-link.k-hover {
	background-color: var(--tp-dark-card-color);
	color: var(--tp-secondary-color);
}

.lpx-theme-dark .mud-input {
	background-color: var(--tp-dark-body-color);
	color: var(--tp-dark-disabled-color);
}

.lpx-theme-dark .mud-icon-button-label {
	color: var(--tp-dark-disabled-color);
}

.lpx-theme-dark .mud-paper {
	background-color: var(--tp-primary-color);
	border-radius: 16px;
	border-color: var(--tp-primary-color);
}

.lpx-theme-dark .mud-picker-content {
	background-color: var(--tp-white-color);
}

.lpx-theme-dark .mud-picker-container .mud-toolbar {
	background-color: var(--tp-dark-body-color) !important;
}
