/* Latest Update 23/04/2023 */

/** GENERAL **/
/** GENERAL **/
/** GENERAL **/
.page-sidebar {
	background-color: var(--tp-white-color);
	border-radius: 16px;
}

/** CHIP **/
/** CHIP **/
/** CHIP **/
.k-chip {
	width: 96px;
	height: 28px;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border-width: 0;
}

.k-chip-content {
	flex: initial;
	font-weight: 500;
}

.k-chip:hover .k-chip-content {
	color: initial;
}

.k-chip.k-chip-solid-base {
	color: var(--tp-primary-color);
	background-color: rgb(31 45 64 / 5%);
}

.k-chip.k-chip-solid-success {
	color: var(--tp-success-color);
	background-color: rgb(52 199 89 / 5%);
}

.k-chip.k-chip-solid-success .k-chip-content {
	color: var(--tp-success-color);
}

.k-chip.k-chip-solid-error {
	color: var(--tp-danger-color);
	background-color: rgb(255 69 58 / 5%);
}

.k-chip.k-chip-solid-error .k-chip-content {
	color: var(--tp-danger-color);
}

.k-chip.k-chip-solid-warning {
	color: var(--tp-warning-color);
	background-color: rgb(255 213 79 / 5%);
}

.k-chip.k-chip-solid-warning .k-chip-content {
	color: var(--tp-warning-color);
}

.k-chip.k-chip-solid-info {
	color: var(--tp-info-color);
	background-color: rgb(0 86 179 / 5%);
}

.k-chip.k-chip-solid-info .k-chip-content {
	color: var(--tp-info-color);
}

/** SWITCH **/
/** SWITCH **/
/** SWITCH **/
.k-switch-md {
	width: 32px;
	height: 16px;
	border-radius: 32px;
}

.k-switch-md .k-switch-track {
	width: 32px;
	height: 16px;
}

.k-switch.k-switch-on .k-switch-thumb-wrap .k-switch-thumb {
	width: 10px;
	height: 10px;
}

.k-switch.k-switch-off .k-switch-thumb-wrap .k-switch-thumb {
	width: 10px;
	height: 10px;
}

.k-switch-md[dir="rtl"].k-switch-off .k-switch-thumb-wrap,
[dir="rtl"] .k-switch-md.k-switch-off .k-switch-thumb-wrap,
.k-rtl .k-switch-md.k-switch-off .k-switch-thumb-wrap {
	left: calc(100% - 20px - 3px);
}

.k-switch-md[dir="rtl"].k-switch-on .k-switch-thumb-wrap,
[dir="rtl"] .k-switch-md.k-switch-on .k-switch-thumb-wrap,
.k-rtl .k-switch-md.k-switch-on .k-switch-thumb-wrap {
	left: calc(20px + 3px);
}

/** TAB STRIP **/
/** TAB STRIP **/
/** TAB STRIP **/
.k-tabstrip-items .k-item {
	border: 0;
	border-bottom: 3px solid transparent;
}

.k-tabstrip-items-wrapper .k-item:focus,
.k-tabstrip-items-wrapper .k-item.k-focus {
	box-shadow: none;
}

.k-tabstrip-items-wrapper .k-item:active,
.k-tabstrip-items-wrapper .k-item.k-active,
.k-tabstrip-items-wrapper .k-item.k-selected {
	background-color: transparent;
}

.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item:active,
.k-tabstrip-top > .k-tabstrip-items-wrapper .k-item.k-active {
	border-bottom-width: 3px;
	border-bottom-color: var(--tp-primary-color) !important;
}

.k-tabstrip-items .k-link {
	color: #909398;
}

.k-tabstrip-items .k-active .k-link {
	color: var(--tp-primary-color);
}

.k-tabstrip-content,
.k-tabstrip > .k-content {
	border-radius: 16px;
	border-top-width: 1px !important;
	margin-top: 24px !important;
}

/** STEPPER **/
/** STEPPER **/
/** STEPPER **/
.k-stepper .k-step-indicator {
	width: 36px;
	height: 36px;
	border-width: 3px;
	border-color: var(--tp-primary-color);
	color: var(--tp-primary-color);
}

.k-stepper .k-step-list-horizontal .k-step-indicator::before {
	content: "---";
	width: auto;
	height: auto;
	position: absolute;
	bottom: -55px;
	left: -75%;
	transform: rotate(90deg);
	color: #909398;
}

.k-stepper .k-step-current .k-step-indicator {
	background-color: var(--tp-secondary-color);
	color: var(--tp-primary-color);
}

.k-stepper .k-step-current .k-step-indicator::before {
	color: var(--tp-primary-color);
}

.k-stepper .k-step-current:hover .k-step-indicator, 
.k-stepper .k-step-current.k-hover .k-step-indicator, 
.k-stepper .k-step-current.k-step-hover .k-step-indicator {
	background-color: var(--tp-secondary-color);
}

.k-stepper .k-step-label .k-step-text {
	font-size: 14px;
	color: #909398;
}

.k-stepper .k-step-current .k-step-label .k-step-text {
	color: var(--tp-primary-color);
}

.k-stepper .k-step-indicator .k-step-indicator-text {
	font-weight: 600;
}

.k-stepper .k-step-list .k-step.k-step-done .k-step-link .k-step-indicator {
	background-color: var(--tp-secondary-color);
	color: var(--tp-primary-color);
}

.k-step-list-horizontal .k-step-indicator + .k-step-label {
	margin-top: 15px;
}

.k-step-list-horizontal ~ .k-progressbar {
	height: 7px;
	top: calc((31px + 2 * 2px) / 2 + 2px / 2);
	background-color: var(--tp-primary-color);
}

.k-stepper
	.k-progressbar.k-progressbar-horizontal
	.k-progressbar-value.k-selected {
	background-color: var(--tp-primary-color);
}

.k-step-list-vertical .k-step {
	min-height: calc(41px + 2 * 1px + 2 * 2px + 20px);
}

.k-stepper .k-step-list-vertical .k-step-indicator::before {
	content: "---";
	width: 15px;
	height: 15px;
	position: absolute;
	top: 10%;
	left: -22px;
	color: #909398;
}

.k-step-list-vertical ~ .k-progressbar {
	width: 7px;
	background-color: var(--tp-primary-color);
	left: calc((31px + 2 * 1px + 2 * 2px) / 2);
}

.k-rtl .k-stepper .k-step-list-vertical ~ .k-progressbar,
.k-stepper[dir="rtl"] .k-step-list-vertical ~ .k-progressbar {
	left: auto;
	right: calc((31px + 2 * 1px + 2 * 2px) / 2);
}

.k-stepper
	.k-progressbar.k-progressbar-vertical
	.k-progressbar-value.k-selected {
	background-color: var(--tp-primary-color);
}

.k-stepper .k-step-list-vertical .k-step-label .k-step-text {
	width: max-content;
	max-width: max-content;
}

.k-rtl .k-stepper .k-step-list-vertical .k-step-indicator + .k-step-label, 
.k-stepper[dir=rtl] .k-step-list-vertical .k-step-indicator + .k-step-label {
	margin-right: 20px;
}

/** BUTTON **/
/** BUTTON **/
/** BUTTON **/
.k-button {
	padding: 8px 16px 8px 16px;
	border-radius: 8px;
}

.k-button.k-selected {
	background-color: var(--tp-primary-color);
	color: var(--tp-secondary-color);
}

.k-wizard .k-wizard-buttons-right .k-button:last-of-type {
	margin-right: 10px;
}

.k-button.k-menu-button {
	background-color: #f9f9f9;
	min-width: 200px;
	width: auto;
	justify-content: flex-start;
}

.k-menu-button .k-menu-button-arrow {
	margin-right: auto;
}

/** TIME PICKER **/
/** TIME PICKER **/
/** TIME PICKER **/
.k-timepicker .k-input-button {
	background-color: transparent;
}

.k-timepicker .k-button-icon.k-svg-icon,
.k-timepicker .k-button-icon.k-svg-icon > svg {
	width: 22px;
	height: 22px;
}

.k-time-list-container {
	flex-direction: row-reverse;
}

/** NUMERIC FIELD **/
/** NUMERIC FIELD **/
/** NUMERIC FIELD **/
.k-numerictextbox.custom-numeric-field {
	width: 167px;
	height: 40px;
	position: relative;
}

.k-numerictextbox.custom-numeric-field input.k-input-inner {
	width: 100%;
	margin-right: 40px;
	margin-left: 40px;
	text-align: center;
}

.k-numerictextbox.custom-numeric-field .k-input-spinner {
	width: auto;
	height: 40px;
	position: absolute;
	right: 8px;
	left: 8px;
	align-items: center;
}

.k-numerictextbox.custom-numeric-field .k-input-spinner button {
	width: 32px;
	height: 32px;
	max-width: 32px;
	background: var(--tp-primary-color);
	padding: 8px;
}

.k-numerictextbox.custom-numeric-field .k-input-spinner button svg {
	width: 16px;
	height: 16px;
	color: var(--tp-white-color);
}

/** BUTTON GROUP **/
/** BUTTON GROUP **/
/** BUTTON GROUP **/
.button-group-custom.k-button-group {
	width: auto;
	padding: 8px;
	background-color: #f9f9f9;
	border-radius: 8px;
	gap: 8px;
}

.button-group-custom.k-button-group .k-button {
	border-radius: 8px;
	padding: 4px;
	background-color: #f9f9f9;
}

.button-group-custom.k-button-group .k-button.k-selected {
	background: #0f172a;
	color: var(--tp-secondary-color);
}

/** RADIO BUTTON **/
/** RADIO BUTTON **/
/** RADIO BUTTON **/
.k-radio {
	border-color: var(--tp-primary-color);
}